%h1 ようこそ
%p トップページです。

#sortable
  %li 
    %h2 kei
    %P Today is my birthday hahaha
  %li 
    %h2 higo
    %P Tomorrow is my birthday hahaha

  %li 
    %h2 hun
    %P next year is my birthday hahaha


:javascript
  $(function(){
    $("#sortable").sortable();
  });
