= form_for [@paper, @section], url: {action: "update"}, remote: true do |f|
  = f.text_field :title, {placeholder:'Section Title'}
  = f.text_area :text
  / = f.select :part, [["introduction", "introduction"], ["body", "body"], ["conclusion", "conclusion"]], :selected => "body"
  = f.hidden_field :paper_id, value:@paperID



:javascript
  if ($('.create-temp')) {
    window.tempTimer = null
    $('.edit_section').on('keydown',(function(){ 
      window.clearTimeout(tempTimer);
      window.tempTimer = window.setTimeout(function(){
        $(".edit_section").ajaxSubmit({
          data:{"authenticity_token": $('meta[name="csrf-token"]').attr('content')}
        });

      }, 1000);
    }));
    
  }


