= form_for [@paper, @section], url: {action: "update"}, remote: true do |f|
  = f.text_field :title, {placeholder:'Section Title'}
  = f.text_area :text
  / = f.select :part, [["introduction", "introduction"], ["body", "body"], ["conclusion", "conclusion"]], :selected => "body"
  = f.hidden_field :paper_id, value:@paperID



:javascript
  if ($('.create-temp')) {
    window.tempTimer = null
    $('.edit_section').on('keydown',(function(){ 
      window.clearTimeout(tempTimer);
      $(".done").text('saving...');
      window.tempTimer = window.setTimeout(function(){
        $(".done").text('All changes saved');
        $(".edit_section").ajaxSubmit({
          data:{"authenticity_token": $('meta[name="csrf-token"]').attr('content')}
        });

      }, 3500);
    }));
    
  }

  //ajaxの関数を定義
  function updateText(){ 
    var sectionTitle = $('#section_title').val();
    var sectionText = $('#section_text').val();

    $.ajax({ 
      url:$(this).attr('action'), 
      type: 'PATCH', 
      data:{"section": {"title":sectionTitle, "text":sectionText},
          "authenticity_token" : $('meta[name="csrf-token"]').attr('content')
      }

    })

  }


