- @papers.each do |paper|
  %li{class:"paper-item"}
    = link_to paper.title, paper_section_path(paper_id:paper.id,id:'new')
    %i{class:"fa fa-eye preview"}
    %i{class:"fa fa-edit paper-edit"}

    = link_to paper_path(paper.id), method:'delete', data: {confirm:'本当に削除しますか？' }, remote: true do
      %i{class:"fa fa-times"}

    #paper-title-edit-in-dashboard-show.modal
      %p paperを編集
      = form_for @paper, remote:true do |f|
        =f.text_field :title, {placeholder: "Paper's Title"}
        =f.hidden_field :user_id, value:current_user.id
        =f.submit 'save'
      .close-modal
        %i{class:'fa fa-2x fa-times'}

