/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "font-awesome";

/*-------  ここから共通のCSS  --------*/

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
  box-sizing:border-box;  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#323a45;

  &:hover {
  	color:#0dc0c0;
  }
}



body {
  -webkit-font-smoothing: antialiased;
  font-family:'Hiragino Kaku Gothic ProN W3', sans-serif;
  width:auto;
  font-size:14px;
  font-weight:400;
  background-color: #e6ecf0;
}

.container {
	width:100%;
	max-width:1190px;
  margin:0 auto;
}

/*-------  ここまで共通のCSS  --------*/

/*-------  ここからheader  --------*/


.header {
	width:100%;
	height:50px;
	line-height: 50px;
	top:0;
	box-shadow: -11px -17px 20px 10px;
  margin-bottom: 20px;
  background-color:white;

	a{
		width:100%;
		height:100%;
	}
}

.header-logo {
	float:left;
  height: 50px;
  width: 50px;
  text-align: center;

  a{
    width:100%;
    height:100%;
  }

  .fa{
    font-size: 35px;
    vertical-align: middle;
  }
}

.header-menu {
	float:right;

	ul li{
		float:left;
		right:0;
		height:30px;
		width:40px;
		margin-right:20px;
	}

  .to-dashboard{
    font-weight:bold;
    display: inline-block;
    width: 90px;
  }
}

#profile-modal-trigger{
	font-size:35px;
  vertical-align:middle;
  margin-left:15px;
  cursor:pointer;
  border-radius:100px;
  
  &:hover{
    box-shadow:0 0 5px 4px blue;
    
  }
}

#profile-modal-show{
	z-index:100;
	width:140px;
	height:150px;
  position:absolute;
  background-color:white;
  box-shadow:0 2px 2px darkgrey;
  border-radius:5px;
  margin-top:5px;

  &:before{
    content: "";
    position: absolute;
    top: -28px;
    right: 5%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
    box-shadow: 0 0px 0px 0px darkgrey;
    border-radius: 5px;
    }
}

.profile-list {
  line-height: 50px;

  a{
    display:inline-block;
    width:90%;
    padding-left:10%;

    &:hover{
      background-color:darkgrey;
    }
  }
  }

.profile-name{
  padding-left: 5%;
  font-weight: bold;
  border-bottom: 2px solid #e6ecf1;
  width: 85%;
  margin: 0 auto;


}

/*-------  ここまでheader  --------*/
