// Place all the styles related to the Papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.preview-page {
	width:50%;
	margin:0 auto;
	position:relative;

	.preview-page-icon{
	position:absolute;
	right:0;
	text-align:center;
	background-color:rgba(0,0,0,0.2);
	width:70px;
	padding:5px;
	}

	h1{
	text-align:center;
	margin-bottom:30px;
	padding:10px;
	}
}



.section-itme-in-preview{
	margin-bottom:30px;
	h3{
	margin-bottom:5px;
	}

	p{
	text-align:justify;
	}
}

/* =============================================== Dashboard ======================================== */
h2.dashboard-title {
  text-align: center;
  margin-bottom:20px;
}


.paper-item{
	background-color:white;
	list-style: none;
  padding: 20px;
  float: left;
  margin: 10px;
	width:30%;
	float:left;
	cursor:pointer;
	text-align:center;
	box-shadow: 7px 7px 9px 0px darkgrey;

	a {
		font-size:16px;
	}

	.fa{
		display:none;
		float:right;
		padding:0 20px;
		padding: 0 5px;
    font-size: 20px;
	}

	&:hover {
	  background-color:rgba(0,0,0,0.1);
	  .fa{
	  	display:block;
	  	cursor:pointer;
	  }
    }
}

/*newボタンは見れるようにする*/
#paper-create-button .fa{
	width:100%;
	text-align:center;
	display:block;
	
}

.fa-eye:hover {
	color:blue;
}




